[language-server.docker-langserver]
command = "docker-language-server"
args = ["start", "--stdio"]

[language-server.docker-compose-langserver]
command = "docker-language-server"
args = ["start", "--stdio"]

[language-server.golangci-lint-lsp]
command = "golangci-lint"
args = ["start", "--stdio"]

[language-server.esbonio]
command = "python3"
args = ["-m", "esbonio"]

[language-server.texlab]
command = "texlab"
args = ["run"]

[language-server.texlab.config.forwardSearch]
executable = "zathura"
args = ["--synctex-forward", "%l:1:%f", "%p"]

[[language]]
name = "latex"
scope = "source.latex"
injection-regex = "tex"
file-types = ["tex", "cls"]
roots = [".git", ".texlabroot"]
comment-token = "%"
language-servers = ["texlab"]
indent = {tab-width = 2, unit = " "}
formatter = {command = "latexindent", args = ["-"]}
auto-format = false

[[language]]
name = "rust"
auto-format = true

[language.formatter]
command = "rustfmt"
args = ["--emit=stdout"]

[[language]]
name = "rst"
file-types = ["rst"]
language-servers = ["esbonio"]
indent = {tab-width = 4, unit = " "}
auto-format = true

[[language]]
name = "yaml"
file-types = ["yml", "yaml"]
comment-token = "#"
indent = {tab-width = 2, unit = " "}
formatter = {command = "yamlfmt", args = ["-"]}
