[language-server.docker-langserver]
command = "docker-language-server"
args = ["start", "--stdio"]

[language-server.docker-compose-langserver]
command = "docker-language-server"
args = ["start", "--stdio"]

[language-server.golangci-lint-lsp]
command = "golangci-lint"
args = ["start", "--stdio"]

[language-server.esbonio]
command = "python3"
args = ["-m", "esbonio"]

[language-server.texlab]
command = "texlab"
args = ["run"]

[language-server.texlab.config.forwardSearch]
executable = "zathura"
args = ["--synctex-forward", "%l:1:%f", "%p"]

[language-server.taplo]
command = "taplo"
args = ["lsp", "stdio"]

[language-server.mpls]
command = "mpls"
args = ["--dark-mode", "enable-emoji"]

[[language]]
name = "latex"
scope = "source.latex"
injection-regex = "tex"
file-types = ["tex", "cls"]
roots = [".git", ".texlabroot"]
comment-token = "%"
language-servers = ["texlab"]
indent = { tab-width = 2, unit = " " }
formatter = { command = "latexindent", args = ["-"] }
auto-format = false

[[language]]
name = "rust"
auto-format = true
formatter = { command = "cargo fmt", args = [""] }

[[language]]
name = "rst"
file-types = ["rst"]
language-servers = ["esbonio"]
indent = { tab-width = 4, unit = " " }
formatter = { command = "rstfmt", args = ["-"] }
auto-format = true

[[language]]
name = "yaml"
file-types = ["yml", "yaml"]
comment-token = "#"
indent = { tab-width = 2, unit = " " }
formatter = { command = "yamlfmt", args = ["-"] }

[[language]]
name = "bash"
file-types = ["sh", "bash", "zsh", "conf", { glob = ".tmux.conf" }]
formatter = { command = "shfmt", args = ["-"] }
auto-format = false

[[language]]
name = "toml"
language-servers = ["taplo"]
formatter = { command = "tombi", args = ["format", "-"] }
auto-format = true

[[language]]
name = "markdown"
# language-servers = ["marksman", "mpls"]
language-servers = ["marksman"]
formatter = { command = "rumdl", args = ["fmt", "-"] }
auto-format = true
