[language-server.docker-langserver]
command = "docker-language-server"
args = ["start", "--stdio"]

[language-server.docker-compose-langserver]
command = "docker-language-server"
args = ["start", "--stdio"]

[language-server.golangci-lint-lsp]
command = "golangci-lint"
args = ["start", "--stdio"]

[[language]]
name = "latex"
scope = "source.latex"
file-types = ["tex", "cls"]
roots = []
auto-format = true

[language.formatter]
command = "latexindent"
args = ["-w", "-s", "--local"]

[[language]]
name = "rust"
auto-format = true

[language.formatter]
command = "rustfmt"
args = ["--emit=stdout"]
