/* -----------------------------------------------------------------------------
 * Color Palette
 * -------------------------------------------------------------------------- */

@define-color bg #1a1b26;
@define-color fg #c0caf5;
@define-color black #15161e;
@define-color red #f7768e;
@define-color green #9ece6a;
@define-color yellow #e0af68;
@define-color blue #7aa2f7;
@define-color magenta #bb9af7;
@define-color cyan #7dcfff;
@define-color white #a9b1d6;
@define-color gray #565f89;

/* -----------------------------------------------------------------------------
 * Global Styles
 * -------------------------------------------------------------------------- */

window#waybar {
    background: rgba(26, 27, 38, 0);
    color: @fg;
    border-bottom: 2px solid @black;
    border: none;
    border-radius: 0;
    font-family: "Noto Sans";
    font-size: 16px;
    font-weight: bold;
    min-height: 0;
}

tooltip {
    background: @bg;
    border: 1px solid @blue;
    border-radius: 4px;
    font-family: "Noto Sans";
    font-size: 16px;
    font-weight: bold;
    min-height: 0;
}

tooltip label {
    color: @fg;
}

/* -----------------------------------------------------------------------------
 * Workspaces
 * -------------------------------------------------------------------------- */

#workspaces {
    background: transparent;
    margin: 0 4px;
}

#workspaces button {
    padding: 0 16px;
    color: @gray;
    background: transparent;
    transition: all 0.3s ease;
}

#workspaces button:hover {
    color: @magenta;
    background: @black;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: 4px;
}

#workspaces button.active {
    color: @blue;
    border-top: 2px solid @blue;
}

#workspaces button.urgent {
    color: @red;
}

/* -----------------------------------------------------------------------------
 * Modules - Center & Right
 * -------------------------------------------------------------------------- */

/* Common style for all right-side modules */
#clock,
#network,
#pulseaudio,
#privacy,
#tray {
    padding: 0 3px;
    margin: 0 4px;
    background-color: transparent;
}

/* -----------------------------------------------------------------------------
 * Specific Module Colors
 * -------------------------------------------------------------------------- */

#clock {
    color: @white;
}

#network {
    color: @cyan;
}

#network.disconnected {
    color: @red;
}

#pulseaudio {
    color: @green;
}

#pulseaudio.muted {
    color: @gray;
}

#privacy {
    color: @orange;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}
